<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>*damn</string>
	<string>*dyke</string>
	<string>*fuck*</string>
	<string>*shit*</string>
	<string>@$$</string>
	<string>Ass Monkey</string>
	<string>Assface</string>
	<string>Biatch</string>
	<string>Blow Job</string>
	<string>Carpet Muncher</string>
	<string>Clit</string>
	<string>Cock*</string>
	<string>CockSucker</string>
	<string>Ekrem*</string>
	<string>Ekto</string>
	<string>Felcher</string>
	<string>Flikker</string>
	<string>Fotze</string>
	<string>Fu(*</string>
	<string>Fudge Packer</string>
	<string>Fukah</string>
	<string>Fuken</string>
	<string>Fukin</string>
	<string>Fukk</string>
	<string>Fukkah</string>
	<string>Fukken</string>
	<string>Fukker</string>
	<string>Fukkin</string>
	<string>God</string>
	<string>God-damned</string>
	<string>Huevon</string>
	<string>Kurac</string>
	<string>Lesbian</string>
	<string>Lezzian</string>
	<string>Lipshits</string>
	<string>Lipshitz</string>
	<string>Motha Fucker</string>
	<string>Motha Fuker</string>
	<string>Motha Fukkah</string>
	<string>Motha Fukker</string>
	<string>Mother Fucker</string>
	<string>Mother Fukah</string>
	<string>Mother Fuker</string>
	<string>Mother Fukkah</string>
	<string>Mother Fukker</string>
	<string>Mutha Fucker</string>
	<string>Mutha Fukah</string>
	<string>Mutha Fuker</string>
	<string>Mutha Fukkah</string>
	<string>Mutha Fukker</string>
	<string>Phuc</string>
	<string>Phuck</string>
	<string>Phuk</string>
	<string>Phuker</string>
	<string>Phukker</string>
	<string>Poonani</string>
	<string>Sh!t</string>
	<string>Shitty</string>
	<string>Shity</string>
	<string>Shyt</string>
	<string>Shyte</string>
	<string>Shytty</string>
	<string>Shyty</string>
	<string>Skanky</string>
	<string>Slutty</string>
	<string>ahole</string>
	<string>amcik</string>
	<string>anal</string>
	<string>andskota</string>
	<string>anus</string>
	<string>anus</string>
	<string>arschloch</string>
	<string>arse</string>
	<string>arse*</string>
	<string>ash0le</string>
	<string>ash0les</string>
	<string>asholes</string>
	<string>ass</string>
	<string>ass</string>
	<string>ass</string>
	<string>ass-fucker</string>
	<string>asses</string>
	<string>assfucker</string>
	<string>assfukka</string>
	<string>assh0le</string>
	<string>assh0lez</string>
	<string>asshole</string>
	<string>asshole</string>
	<string>asshole</string>
	<string>assholes</string>
	<string>assholes</string>
	<string>assholz</string>
	<string>assrammer</string>
	<string>asswipe</string>
	<string>ayir</string>
	<string>azzhole</string>
	<string>b!+ch</string>
	<string>b!tch</string>
	<string>b00b*</string>
	<string>b00bs</string>
	<string>b17ch</string>
	<string>b1tch</string>
	<string>ballbag</string>
	<string>balls</string>
	<string>ballsack</string>
	<string>bassterds</string>
	<string>bastard</string>
	<string>bastard</string>
	<string>bastard</string>
	<string>bastards</string>
	<string>bastardz</string>
	<string>basterds</string>
	<string>basterdz</string>
	<string>beastial</string>
	<string>beastiality</string>
	<string>bellend</string>
	<string>bestial</string>
	<string>bestiality</string>
	<string>bi+ch</string>
	<string>bi7ch</string>
	<string>biatch</string>
	<string>bitch</string>
	<string>bitch</string>
	<string>bitch</string>
	<string>bitch*</string>
	<string>bitcher</string>
	<string>bitchers</string>
	<string>bitches</string>
	<string>bitches</string>
	<string>bitchin</string>
	<string>bitching</string>
	<string>bloody</string>
	<string>blow job</string>
	<string>blowjob</string>
	<string>blowjob</string>
	<string>blowjobs</string>
	<string>boffing</string>
	<string>boiolas</string>
	<string>bollock</string>
	<string>bollock*</string>
	<string>bollok</string>
	<string>boner</string>
	<string>boob</string>
	<string>boobs</string>
	<string>boobs</string>
	<string>breasts</string>
	<string>breasts</string>
	<string>buceta</string>
	<string>bugger</string>
	<string>bum</string>
	<string>butt</string>
	<string>butt-pirate</string>
	<string>butthole</string>
	<string>butthole</string>
	<string>buttmuch</string>
	<string>buttplug</string>
	<string>buttwipe</string>
	<string>c0ck</string>
	<string>c0ck</string>
	<string>c0cks</string>
	<string>c0k</string>
	<string>cabron</string>
	<string>carpet muncher</string>
	<string>cawk</string>
	<string>cawk</string>
	<string>cawks</string>
	<string>cazzo</string>
	<string>chink</string>
	<string>chink</string>
	<string>chraa</string>
	<string>chuj</string>
	<string>cipa</string>
	<string>clit</string>
	<string>clit</string>
	<string>clitoris</string>
	<string>clits</string>
	<string>clits</string>
	<string>cnts</string>
	<string>cntz</string>
	<string>cock</string>
	<string>cock</string>
	<string>cock</string>
	<string>cock-head</string>
	<string>cock-sucker</string>
	<string>cock-sucker</string>
	<string>cockface</string>
	<string>cockhead</string>
	<string>cockhead</string>
	<string>cockmunch</string>
	<string>cockmuncher</string>
	<string>cocks</string>
	<string>cocks</string>
	<string>cocksuck </string>
	<string>cocksucked </string>
	<string>cocksucker</string>
	<string>cocksucking</string>
	<string>cocksucks </string>
	<string>cocksuka</string>
	<string>cocksukka</string>
	<string>cokmuncher</string>
	<string>coksucka</string>
	<string>coon</string>
	<string>crap</string>
	<string>crap</string>
	<string>cum</string>
	<string>cum</string>
	<string>cum</string>
	<string>cummer</string>
	<string>cumming</string>
	<string>cums</string>
	<string>cumshot</string>
	<string>cunnilingus</string>
	<string>cunt</string>
	<string>cunt</string>
	<string>cunt</string>
	<string>cunt*</string>
	<string>cuntlick </string>
	<string>cuntlicker </string>
	<string>cuntlicking </string>
	<string>cunts</string>
	<string>cunts</string>
	<string>cuntz</string>
	<string>cyberfuck </string>
	<string>cyberfucked </string>
	<string>cyberfucker</string>
	<string>cyberfuckers</string>
	<string>cyberfucking </string>
	<string>d4mn</string>
	<string>damn</string>
	<string>daygo</string>
	<string>dego</string>
	<string>dick</string>
	<string>dick</string>
	<string>dick*</string>
	<string>dickhead</string>
	<string>dike*</string>
	<string>dild0</string>
	<string>dild0s</string>
	<string>dildo</string>
	<string>dildo</string>
	<string>dildo</string>
	<string>dildos</string>
	<string>dildos</string>
	<string>dilld0</string>
	<string>dilld0s</string>
	<string>dirsa</string>
	<string>dog-fucker</string>
	<string>doggin</string>
	<string>dogging</string>
	<string>dominatricks</string>
	<string>dominatrics</string>
	<string>dominatrix</string>
	<string>donkeyribber</string>
	<string>doosh</string>
	<string>duche</string>
	<string>dupa</string>
	<string>dyke</string>
	<string>dyke</string>
	<string>dziwka</string>
	<string>ejackulate</string>
	<string>ejaculate</string>
	<string>ejaculated</string>
	<string>ejaculates </string>
	<string>ejaculating </string>
	<string>ejaculation</string>
	<string>ejakulate</string>
	<string>enculer</string>
	<string>enema</string>
	<string>f u c k</string>
	<string>f u c k e r</string>
	<string>f_u_c_k</string>
	<string>faen</string>
	<string>fag</string>
	<string>fag</string>
	<string>fag*</string>
	<string>fag1t</string>
	<string>faget</string>
	<string>fagg1t</string>
	<string>fagging</string>
	<string>faggit</string>
	<string>faggitt</string>
	<string>faggot</string>
	<string>faggot</string>
	<string>faggs</string>
	<string>fagit</string>
	<string>fagot</string>
	<string>fagots</string>
	<string>fags</string>
	<string>fags</string>
	<string>fagz</string>
	<string>faig</string>
	<string>faigs</string>
	<string>fanculo</string>
	<string>fanny</string>
	<string>fanny</string>
	<string>fannyflaps</string>
	<string>fannyfucker</string>
	<string>fart</string>
	<string>fatass</string>
	<string>fatass</string>
	<string>fcuk</string>
	<string>feces</string>
	<string>feg</string>
	<string>felching</string>
	<string>fellate</string>
	<string>fellatio</string>
	<string>ficken</string>
	<string>fingerfuck </string>
	<string>fingerfucked </string>
	<string>fingerfucker </string>
	<string>fingerfucking </string>
	<string>fingerfucks </string>
	<string>fistfuck</string>
	<string>fistfucked </string>
	<string>fistfucker </string>
	<string>fistfuckers </string>
	<string>fistfucking </string>
	<string>fistfuckings </string>
	<string>fistfucks </string>
	<string>fitt*</string>
	<string>flange</string>
	<string>flipping the bird</string>
	<string>fook</string>
	<string>fooker</string>
	<string>foreskin</string>
	<string>fuck</string>
	<string>fuck</string>
	<string>fuck</string>
	<string>fucka</string>
	<string>fucked</string>
	<string>fucker</string>
	<string>fucker</string>
	<string>fuckers</string>
	<string>fuckhead</string>
	<string>fuckheads</string>
	<string>fuckin</string>
	<string>fuckin</string>
	<string>fucking</string>
	<string>fucking</string>
	<string>fuckings</string>
	<string>fuckingshitmotherfucker</string>
	<string>fuckme </string>
	<string>fucks</string>
	<string>fucks</string>
	<string>fuckwhit</string>
	<string>fuckwit</string>
	<string>fudge packer</string>
	<string>fudgepacker</string>
	<string>fuk</string>
	<string>fuk</string>
	<string>fuk</string>
	<string>fuk*</string>
	<string>fuker</string>
	<string>fuker</string>
	<string>fukker</string>
	<string>fukkin</string>
	<string>fuks</string>
	<string>fukwhit</string>
	<string>fukwit</string>
	<string>futkretzn</string>
	<string>fux</string>
	<string>fux0r</string>
	<string>fux0r</string>
	<string>g00k</string>
	<string>gangbang</string>
	<string>gangbanged </string>
	<string>gangbangs </string>
	<string>gay</string>
	<string>gay</string>
	<string>gayboy</string>
	<string>gaygirl</string>
	<string>gaylord</string>
	<string>gays</string>
	<string>gaysex</string>
	<string>gayz</string>
	<string>goatse</string>
	<string>god-dam</string>
	<string>god-damned</string>
	<string>goddamn</string>
	<string>goddamned</string>
	<string>gook</string>
	<string>guiena</string>
	<string>h00r</string>
	<string>h0ar</string>
	<string>h0r</string>
	<string>h0re</string>
	<string>h4x0r</string>
	<string>hardcoresex </string>
	<string>hell</string>
	<string>hell</string>
	<string>hells</string>
	<string>helvete</string>
	<string>heshe</string>
	<string>hoar</string>
	<string>hoar</string>
	<string>hoare</string>
	<string>hoer</string>
	<string>hoer</string>
	<string>hoer*</string>
	<string>homo</string>
	<string>honkey</string>
	<string>hoor</string>
	<string>hoore</string>
	<string>hore</string>
	<string>hore</string>
	<string>horniest</string>
	<string>horny</string>
	<string>hotsex</string>
	<string>hui</string>
	<string>injun</string>
	<string>jack-off </string>
	<string>jackoff</string>
	<string>jackoff</string>
	<string>jackoff</string>
	<string>jap</string>
	<string>jap</string>
	<string>japs</string>
	<string>jerk-off</string>
	<string>jerk-off </string>
	<string>jisim</string>
	<string>jism</string>
	<string>jism</string>
	<string>jiss</string>
	<string>jiz </string>
	<string>jizm</string>
	<string>jizm </string>
	<string>jizz</string>
	<string>jizz</string>
	<string>jizz</string>
	<string>kanker*</string>
	<string>kawk</string>
	<string>kawk</string>
	<string>kike</string>
	<string>klootzak</string>
	<string>knob</string>
	<string>knob</string>
	<string>knobead</string>
	<string>knobed</string>
	<string>knobend</string>
	<string>knobhead</string>
	<string>knobjocky</string>
	<string>knobjokey</string>
	<string>knobs</string>
	<string>knobz</string>
	<string>knulle</string>
	<string>kock</string>
	<string>kondum</string>
	<string>kondums</string>
	<string>kraut</string>
	<string>kuk</string>
	<string>kuksuger</string>
	<string>kum</string>
	<string>kummer</string>
	<string>kumming</string>
	<string>kums</string>
	<string>kunilingus</string>
	<string>kunt</string>
	<string>kunts</string>
	<string>kuntz</string>
	<string>kurwa</string>
	<string>kusi*</string>
	<string>kyrpa*</string>
	<string>l3i+ch</string>
	<string>l3i+ch</string>
	<string>l3itch</string>
	<string>l3itch</string>
	<string>labia</string>
	<string>lesbian</string>
	<string>lesbo</string>
	<string>lmfao</string>
	<string>lust</string>
	<string>lusting</string>
	<string>m0f0</string>
	<string>m0fo</string>
	<string>m45terbate</string>
	<string>ma5terb8</string>
	<string>ma5terbate</string>
	<string>mamhoon</string>
	<string>masochist</string>
	<string>masochist</string>
	<string>masokist</string>
	<string>massterbait</string>
	<string>masstrbait</string>
	<string>masstrbate</string>
	<string>master-bate</string>
	<string>masterb8</string>
	<string>masterbaiter</string>
	<string>masterbat*</string>
	<string>masterbat*</string>
	<string>masterbat3</string>
	<string>masterbat3</string>
	<string>masterbate</string>
	<string>masterbate</string>
	<string>masterbates</string>
	<string>masterbation</string>
	<string>masterbations</string>
	<string>masturbat*</string>
	<string>masturbate</string>
	<string>masturbate</string>
	<string>merd*</string>
	<string>mibun</string>
	<string>mo-fo</string>
	<string>mof0</string>
	<string>mofo</string>
	<string>mofo</string>
	<string>monkleigh</string>
	<string>mothafuck</string>
	<string>mothafucka</string>
	<string>mothafuckas</string>
	<string>mothafuckaz</string>
	<string>mothafucked </string>
	<string>mothafucker</string>
	<string>mothafuckers</string>
	<string>mothafuckin</string>
	<string>mothafucking </string>
	<string>mothafuckings</string>
	<string>mothafucks</string>
	<string>mother fucker</string>
	<string>mother-fucker</string>
	<string>motherfuck</string>
	<string>motherfucked</string>
	<string>motherfucker</string>
	<string>motherfucker</string>
	<string>motherfuckers</string>
	<string>motherfuckin</string>
	<string>motherfucking</string>
	<string>motherfuckings</string>
	<string>motherfuckka</string>
	<string>motherfucks</string>
	<string>mouliewop</string>
	<string>muff</string>
	<string>muie</string>
	<string>mulkku</string>
	<string>muschi</string>
	<string>mutha</string>
	<string>muthafecker</string>
	<string>muthafuckker</string>
	<string>muther</string>
	<string>mutherfucker</string>
	<string>n1gga</string>
	<string>n1gger</string>
	<string>n1gr</string>
	<string>nastt</string>
	<string>nazi</string>
	<string>nazi</string>
	<string>nazis</string>
	<string>nepesaurio</string>
	<string>nigg3r</string>
	<string>nigg4h</string>
	<string>nigga</string>
	<string>nigga</string>
	<string>niggah</string>
	<string>niggas</string>
	<string>niggaz</string>
	<string>nigger</string>
	<string>nigger</string>
	<string>nigger*</string>
	<string>nigger;</string>
	<string>niggers </string>
	<string>nigur;</string>
	<string>niiger;</string>
	<string>niigr;</string>
	<string>nob</string>
	<string>nob jokey</string>
	<string>nobhead</string>
	<string>nobjocky</string>
	<string>nobjokey</string>
	<string>numbnuts</string>
	<string>nutsack</string>
	<string>nutsack</string>
	<string>orafis</string>
	<string>orgasim </string>
	<string>orgasim;</string>
	<string>orgasims </string>
	<string>orgasm</string>
	<string>orgasm</string>
	<string>orgasms </string>
	<string>orgasum</string>
	<string>oriface</string>
	<string>orifice</string>
	<string>orifiss</string>
	<string>orospu</string>
	<string>p0rn</string>
	<string>p0rn</string>
	<string>packi</string>
	<string>packie</string>
	<string>packy</string>
	<string>paki</string>
	<string>pakie</string>
	<string>paky</string>
	<string>paska*</string>
	<string>pawn</string>
	<string>pecker</string>
	<string>pecker</string>
	<string>peeenus</string>
	<string>peeenusss</string>
	<string>peenus</string>
	<string>peinus</string>
	<string>pen1s</string>
	<string>penas</string>
	<string>penis</string>
	<string>penis</string>
	<string>penis-breath</string>
	<string>penisfucker</string>
	<string>penus</string>
	<string>penuus</string>
	<string>perse</string>
	<string>phonesex</string>
	<string>phuck</string>
	<string>phuck</string>
	<string>phuk</string>
	<string>phuked</string>
	<string>phuking</string>
	<string>phukked</string>
	<string>phukking</string>
	<string>phuks</string>
	<string>phuq</string>
	<string>picka</string>
	<string>pierdol*</string>
	<string>pigfucker</string>
	<string>pillu*</string>
	<string>pimmel</string>
	<string>pimpis</string>
	<string>pimpis</string>
	<string>piss</string>
	<string>piss*</string>
	<string>pissed</string>
	<string>pisser</string>
	<string>pissers</string>
	<string>pisses </string>
	<string>pissflaps</string>
	<string>pissin </string>
	<string>pissing</string>
	<string>pissoff </string>
	<string>pizda</string>
	<string>polac</string>
	<string>polack</string>
	<string>polak</string>
	<string>poontsee</string>
	<string>poop</string>
	<string>poop</string>
	<string>porn</string>
	<string>porn</string>
	<string>porno</string>
	<string>pornography</string>
	<string>pornos</string>
	<string>pr0n</string>
	<string>pr1c</string>
	<string>pr1ck</string>
	<string>pr1k</string>
	<string>preteen</string>
	<string>prick</string>
	<string>pricks </string>
	<string>pron</string>
	<string>pube</string>
	<string>pula</string>
	<string>pule</string>
	<string>pusse</string>
	<string>pusse</string>
	<string>pusse</string>
	<string>pussee</string>
	<string>pussi</string>
	<string>pussies</string>
	<string>pussy</string>
	<string>pussy</string>
	<string>pussy</string>
	<string>pussys </string>
	<string>puta</string>
	<string>puto</string>
	<string>puuke</string>
	<string>puuker</string>
	<string>qahbeh</string>
	<string>queef*</string>
	<string>queer</string>
	<string>queers</string>
	<string>queerz</string>
	<string>qweers</string>
	<string>qweerz</string>
	<string>qweir</string>
	<string>rautenberg</string>
	<string>recktum</string>
	<string>rectum</string>
	<string>rectum</string>
	<string>retard</string>
	<string>retard</string>
	<string>rimjaw</string>
	<string>rimming</string>
	<string>s hit</string>
	<string>s.o.b.</string>
	<string>s.o.b.</string>
	<string>s_h_i_t</string>
	<string>sadist</string>
	<string>sadist</string>
	<string>scank</string>
	<string>schaffer</string>
	<string>scheiss*</string>
	<string>schlampe</string>
	<string>schlong</string>
	<string>schlong</string>
	<string>schmuck</string>
	<string>screw</string>
	<string>screwing</string>
	<string>screwing</string>
	<string>scroat</string>
	<string>scrote</string>
	<string>scrotum</string>
	<string>scrotum</string>
	<string>semen</string>
	<string>semen</string>
	<string>sex</string>
	<string>sex</string>
	<string>sexy</string>
	<string>sh!+</string>
	<string>sh!+</string>
	<string>sh!t</string>
	<string>sh!t</string>
	<string>sh!t*</string>
	<string>sh1t</string>
	<string>sh1t</string>
	<string>sh1ter</string>
	<string>sh1ts</string>
	<string>sh1tter</string>
	<string>sh1tz</string>
	<string>shag</string>
	<string>shagger</string>
	<string>shaggin</string>
	<string>shagging</string>
	<string>sharmuta</string>
	<string>sharmute</string>
	<string>shemale</string>
	<string>shemale</string>
	<string>shi+</string>
	<string>shi+</string>
	<string>shipal</string>
	<string>shit</string>
	<string>shit</string>
	<string>shit</string>
	<string>shitdick</string>
	<string>shite</string>
	<string>shited</string>
	<string>shitey</string>
	<string>shitfuck</string>
	<string>shitfull</string>
	<string>shithead</string>
	<string>shiting</string>
	<string>shitings</string>
	<string>shits</string>
	<string>shits</string>
	<string>shitted</string>
	<string>shitter</string>
	<string>shitter</string>
	<string>shitters </string>
	<string>shitting</string>
	<string>shittings</string>
	<string>shitty </string>
	<string>shitz</string>
	<string>shiz</string>
	<string>skanck</string>
	<string>skank</string>
	<string>skank</string>
	<string>skankee</string>
	<string>skankey</string>
	<string>skanks</string>
	<string>skribz</string>
	<string>skurwysyn</string>
	<string>slut</string>
	<string>slut</string>
	<string>slut</string>
	<string>sluts</string>
	<string>sluts</string>
	<string>slutz</string>
	<string>smegma</string>
	<string>smut</string>
	<string>smut</string>
	<string>snatch</string>
	<string>son-of-a-bitch</string>
	<string>son-of-a-bitch</string>
	<string>spac</string>
	<string>sphencter</string>
	<string>spic</string>
	<string>spierdalaj</string>
	<string>splooge</string>
	<string>spunk</string>
	<string>suka</string>
	<string>t1tt1e5</string>
	<string>t1tties</string>
	<string>teets</string>
	<string>teets</string>
	<string>teez</string>
	<string>teez</string>
	<string>testical</string>
	<string>testical</string>
	<string>testicle</string>
	<string>testicle</string>
	<string>testicle*</string>
	<string>tit</string>
	<string>tit</string>
	<string>titfuck</string>
	<string>tits</string>
	<string>tits</string>
	<string>titt</string>
	<string>titt</string>
	<string>titt*</string>
	<string>tittie5</string>
	<string>tittiefucker</string>
	<string>titties</string>
	<string>tittyfuck</string>
	<string>tittywank</string>
	<string>titwank</string>
	<string>tosser</string>
	<string>turd</string>
	<string>turd</string>
	<string>tw4t</string>
	<string>twat</string>
	<string>twat</string>
	<string>twathead</string>
	<string>twatty</string>
	<string>twunt</string>
	<string>twunter</string>
	<string>v14gra</string>
	<string>v1gra</string>
	<string>va1jina</string>
	<string>vag1na</string>
	<string>vagiina</string>
	<string>vagina</string>
	<string>vagina</string>
	<string>vaj1na</string>
	<string>vajina</string>
	<string>viagra</string>
	<string>vittu</string>
	<string>vullva</string>
	<string>vulva</string>
	<string>vulva</string>
	<string>w00se</string>
	<string>w00se</string>
	<string>w0p</string>
	<string>wang</string>
	<string>wank</string>
	<string>wank</string>
	<string>wank*</string>
	<string>wanker</string>
	<string>wanky</string>
	<string>wetback*</string>
	<string>wh00r</string>
	<string>wh0re</string>
	<string>whoar</string>
	<string>whoar</string>
	<string>whore</string>
	<string>whore</string>
	<string>whore</string>
	<string>wichser</string>
	<string>willies</string>
	<string>willy</string>
	<string>wop*</string>
	<string>xrated</string>
	<string>xrated</string>
	<string>xxx</string>
	<string>yed</string>
	<string>zabourah</string>
</array>
</plist>
