[submodule]
  ignore = dirty

[submodule "AtoZAutoBox"]
	  path = Frameworks/AtoZAutoBox
	   url = https://github.com/mralexgray/AtoZAutoBox.git

[submodule "AtoZWebkit"]
	  path = AtoZWebkit
	   url = https://github.com/mralexgray/AtoZWebkit.git

[submodule "Frameworks/CoreScroll"]
	  path = Frameworks/CoreScroll
	   url = https://github.com/mralexgray/CoreScroll.git

[submodule "AtoZ/Classes/Lorem-Ipsum"]
	  path = AtoZ/Classes/Lorem-Ipsum
	   url = https://github.com/dav/Objective-C-Lorem-Ipsum-Generator.git
     
[submodule "Frameworks/NanoStore"]
	  path = Frameworks/NanoStore
	   url = https://github.com/mralexgray/NanoStore.git

[submodule "AtoZ/Categories/NSScreen-PointConversion"]
	  path = AtoZ/Categories/NSScreen-PointConversion
	   url = https://github.com/oscardelben/NSScreen-PointConversion.git

[submodule "Frameworks/PLWeakCompatibility"]
	  path = Frameworks/PLWeakCompatibility
	   url = https://github.com/mralexgray/PLWeakCompatibility.git

[submodule "AtoZ/Categories/NSUserDefaults-Subscript"]
	  path = AtoZ/Categories/NSUserDefaults-Subscript
	   url = https://github.com/asmallteapot/NSUserDefaults-Subscript.git

[submodule "Frameworks/CocoaPuffs"]
	  path = Frameworks/CocoaPuffs
	   url = https://github.com/macprog-guy/CocoaPuffs.git

[submodule "Frameworks/Zangetsu"]
	  path = Frameworks/Zangetsu
	   url = https://github.com/mralexgray/Zangetsu.git

[submodule "Frameworks/MAKVONotificationCenter"]
	  path = Frameworks/MAKVONotificationCenter
	   url = https://github.com/mikeash/MAKVONotificationCenter.git

[submodule "Frameworks/Rebel"]
	  path = Frameworks/Rebel
	   url = https://github.com/mralexgray/Rebel.git

[submodule "Frameworks/AtoZBezierPath"]
	  path = Frameworks/AtoZBezierPath
	   url = https://github.com/mralexgray/AtoZBezierPath.git

[submodule "Frameworks/QuickSilver"]
	  path = Frameworks/QuickSilver
	   url = https://github.com/quicksilver/Quicksilver.git

[submodule "Frameworks/ConciseKit"]
	  path = Frameworks/ConciseKit
	   url = https://github.com/mralexgray/ConciseKit.git

[submodule "Frameworks/AtoZHUD"]
	  path = Frameworks/AtoZHUD
	   url = https://github.com/mralexgray/BGHUDAppKit.git

[submodule "Frameworks/DrawKit"]
	  path = Frameworks/DrawKit
	   url = https://github.com/mralexgray/DrawKit.git

[submodule "Frameworks/AtoZUI"]
	  path = Frameworks/AtoZUI
	   url = https://github.com/mralexgray/AtoZUI.git

[submodule "Frameworks/MapKit"]
	  path = Frameworks/MapKit
	   url = https://github.com/mralexgray/MacMapKit.git

[submodule "ContactFlow"]
	  path = ContactFlow
	   url = https://github.com/mralexgray/ContactFlow.git

[submodule "Frameworks/SVGKit"]
	  path = Frameworks/SVGKit
	   url = https://github.com/mralexgray/SVGKit.git

[submodule "Frameworks/SDToolKit"]
	  path = Frameworks/SDToolKit
	   url = https://github.com/mralexgray/SDToolkit.git

[submodule "DeskLabels"]
	  path = DeskLabels
	   url = https://github.com/mralexgray/DeskLabels.git

[submodule "AtoZ/Classes/CPAccelerationTimer"]
	  path = AtoZ/Classes/CPAccelerationTimer
	   url = https://github.com/mralexgray/CPAccelerationTimer.git

[submodule "Frameworks/PXListView"]
	  path = Frameworks/PXListView
	   url = https://github.com/mralexgray/PXListView.git

[submodule "Frameworks/AFNetworking"]
	  path = Frameworks/AFNetworking
	   url = https://github.com/mralexgray/AFNetworking.git

[submodule "AtoZ/Classes/StandardPaths"]
	  path = AtoZ/Classes/StandardPaths
	   url = https://github.com/nicklockwood/StandardPaths.git

[submodule "Frameworks/PhFacebook"]
	  path = Frameworks/PhFacebook
	   url = https://github.com/mralexgray/PhFacebook.git

[submodule "Frameworks/KSHTMLWriter"]
	  path = Frameworks/KSHTMLWriter
	   url = https://github.com/mralexgray/KSHTMLWriter.git

[submodule "AtoZ/Models/StackAPI"]
	  path = AtoZ/Models/StackAPI
	   url = https://github.com/mralexgray/StackInbox.git

[submodule "Frameworks/NSOperationStack"]
	  path = Frameworks/NSOperationStack
	   url = https://github.com/mralexgray/NSOperationStack.git

[submodule "Frameworks/CocoatechCore"]
	  path = Frameworks/CocoatechCore
	   url = https://github.com/mralexgray/CocoatechCore.git

[submodule "Frameworks/TwUI"]
	  path = Frameworks/TwUI
	   url = https://github.com/mralexgray/twui.git

[submodule "AtoZ/Views/TUIVs/AHLayout"]
	  path = AtoZ/Views/TUIVs/AHLayout
	   url = https://github.com/mralexgray/AHLayout.git

[submodule "Frameworks/SNRHUDKit"]
	  path = Frameworks/SNRHUDKit
	   url = https://github.com/mralexgray/SNRHUDKit.git

[submodule "Frameworks/nu"]
	  path = Frameworks/nu
	   url = https://github.com/mralexgray/nu.git

[submodule "Frameworks/NoodleKit"]
	  path = Frameworks/NoodleKit
	   url = https://github.com/mralexgray/NoodleKit.git

[submodule "Frameworks/BWToolKit"]
	  path = Frameworks/BWToolKit
	   url = https://github.com/mralexgray/bwtoolkit

[submodule "Frameworks/NSLogger-CocoaLumberjack-connector"]
	  path = Frameworks/NSLogger-CocoaLumberjack-connector
	   url = https://github.com/steipete/NSLogger-CocoaLumberjack-connector.git

[submodule "Frameworks/StatusBarApp.framework"]
	  path = Frameworks/StatusBarApp.framework
	   url = https://github.com/mralexgray/StatusBarApp.framework.git

[submodule "AtoZ/Views/AGNSSplitView"]
	  path = AtoZ/Views/AGNSSplitView
	   url = https://github.com/mralexgray/AGNSSplitView.git

[submodule "www/jqm"]
	  path = www/jqm
	   url = https://github.com/jquery/jquery-mobile.git

[submodule "Frameworks/TransformerKit"]
	  path = Frameworks/TransformerKit
	   url = https://github.com/mralexgray/TransformerKit.git

[submodule "Frameworks/Adium"]
	  path = Frameworks/Adium
	   url = https://github.com/mralexgray/adium.git

[submodule "www/Flat-UI"]
	  path = www/Flat-UI
	   url = https://github.com/mralexgray/Flat-UI.git

[submodule "www/jquery-mobile-square-ui-theme"]
	  path = www/jquery-mobile-square-ui-theme
	   url = https://github.com/mralexgray/jquery-mobile-square-ui-theme.git

[submodule "AtoZ/AtoZCLI/NSTerminal"]
	  path = AtoZ/AtoZCLI/NSTerminal
	   url = https://github.com/mralexgray/NSTerminal.git

[submodule "Frameworks/NSMenu-Dark"]
	  path = Frameworks/NSMenu-Dark
	   url = https://github.com/mralexgray/NSMenu-Dark.git

[submodule "Frameworks/NullSafe"]
	  path = Frameworks/NullSafe
	   url = https://github.com/mralexgray/NullSafe.git

# [submodule "Frameworks/libextobjc"]
#     path = AtoZUniversal/EX.whatevs
#      url = https://github.com/mralexgray/libextobjc.git
# 
[submodule "Frameworks/KVO-Notification-Manager"]
	  path = Frameworks/KVO-Notification-Manager
	   url = https://github.com/mralexgray/KVO-Notification-Manager.git

[submodule "Frameworks/CTObjectiveCRuntimeAdditions"]
	  path = Frameworks/CTObjectiveCRuntimeAdditions
	   url = https://github.com/mralexgray/CTObjectiveCRuntimeAdditions.git

[submodule "Frameworks/Kiwi"]
	  path = Frameworks/Kiwi
	   url = https://github.com/mralexgray/Kiwi.git

[submodule "Frameworks/BlocksKit"]
	  path = Frameworks/BlocksKit
	   url = https://github.com/mralexgray/BlocksKit.git

[submodule "Frameworks/MASShortcut"]
	  path = Frameworks/MASShortcut
	   url = https://github.com/mralexgray/MASShortcut.git

[submodule "Frameworks/KeyValueObjectMapping"]
	  path = Frameworks/KeyValueObjectMapping
	   url = https://github.com/mralexgray/KeyValueObjectMapping.git

[submodule "Frameworks/GRMustache"]
	  path = Frameworks/GRMustache
	   url = https://github.com/mralexgray/GRMustache.git

[submodule "cocoadocs.org"]
	  path = cocoadocs.org
	   url = https://github.com/mralexgray/cocoadocs.org.git

[submodule "xcconfigs"]
	  path = xcconfigs
	   url = https://github.com/mralexgray/xcconfigs.git

[submodule "Frameworks/CFAAction"]
	  path = Frameworks/CFAAction
	   url = https://github.com/CodaFi/CFAAction.git

[submodule "Frameworks/UAGithubEngine"]
	  path = Frameworks/UAGithubEngine
	   url = https://github.com/mralexgray/UAGithubEngine.git

[submodule "AtoZ/Categories/StrictProtocols"]
	  path = AtoZ/Categories/StrictProtocols
	   url = https://github.com/mralexgray/StrictProtocols.git

[submodule "AtoZ/Classes/BETaskHelper"]
	  path = AtoZ/Classes/BETaskHelper
	   url = https://github.com/mralexgray/BETaskHelper.git

[submodule "Frameworks/RoutingHTTPServerFramework"]
	  path = Frameworks/RoutingHTTPServerFramework
	   url = https://github.com/mralexgray/RoutingHTTPServerFramework.git

[submodule "Frameworks/twitter_bootstrap_admin"]
	  path = Frameworks/twitter_bootstrap_admin
	   url = https://github.com/mralexgray/twitter_bootstrap_admin

[submodule "Frameworks/NMSSH"]
	  path = Frameworks/NMSSH
	   url = https://github.com/mralexgray/NMSSH.git

[submodule "FrameWorks/AutoCoding"]
	  path = FrameWorks/AutoCoding
	   url = https://github.com/mralexgray/AutoCoding.git

[submodule "Frameworks/UIKit"]
	  path = Frameworks/UIKit
	   url = https://github.com/mralexgray/UIKit.git

[submodule "AtoZ/Classes/M13OrderedDictionary"]
	  path = AtoZ/Classes/M13OrderedDictionary
	   url = https://github.com/mralexgray/M13OrderedDictionary.git

[submodule "AtoZ/Views/iCarousel"]
	  path = AtoZ/Views/iCarousel
	   url = https://github.com/mralexgray/iCarousel.git

[submodule "Scripts/xclint"]
	  path = Scripts/xclint
	   url = https://gist.github.com/e15d9d2efb24d8b6ceb0.git
[submodule "Frameworks/GRNavigationController"]
	  path = Frameworks/GRNavigationController
	   url = https://github.com/mralexgray/GRNavigationController

[submodule "Frameworks/color-names"]
	  path = Frameworks/color-names
	   url = https://github.com/mralexgray/color-names.git

[submodule "Frameworks/RXPreprocessing"]
	  path = Frameworks/RXPreprocessing
	   url = https://github.com/mralexgray/RXPreprocessing.git

[submodule "AtoZ/AtoZAutoBox/RXConcreteProtocol"]
	  path = AtoZ/AtoZAutoBox/RXConcreteProtocol
	   url = git@github.com:mralexgray/RXConcreteProtocol.git

[submodule "Frameworks/JNWCollectionView"]
	  path = Frameworks/JNWCollectionView
	   url = https://github.com/mralexgray/JNWCollectionView.git

[submodule "Frameworks/SoundManager"]
	  path = Frameworks/SoundManager
	   url = https://github.com/mralexgray/SoundManager.git

[submodule "Frameworks/DateTools"]
	  path = Frameworks/DateTools
	   url = https://github.com/mralexgray/DateTools.git

[submodule "AtoZ/Classes/Tesseract"]
	  path = AtoZ/Classes/Tesseract
	   url = https://github.com/jinahadam/SimpleTesseract.git

[submodule "Frameworks/Butter"]
	  path = Frameworks/Butter
	   url = git@github.com:mralexgray/Butter.git

[submodule "AtoZ/AtoZTouch/modules/JTGestureBasedTableView"]
	  path = AtoZ/AtoZTouch/modules/JTGestureBasedTableView
	   url = git@github.com:mralexgray/JTGestureBasedTableViewDemo.git

[submodule "AtoZ/AtoZTouch/modules/RNFrostedSidebar"]
	  path = AtoZ/AtoZTouch/modules/RNFrostedSidebar
	   url = https://github.com/rnystrom/RNFrostedSidebar.git

[submodule "AtoZ/Views/Controls/KBButton"]
  	path = AtoZ/Views/Controls/KBButton  
	   url = https://github.com/kwbock/KBButton.git
[submodule "AtoZUniversal"]
	path = AtoZUniversal
	url = https://github.com/mralexgray/AtoZUniversal.git
[submodule "Frameworks/AHLaunchCtl"]
	path = AtoZ/Classes/AHLaunchCtl
	url = https://github.com/mralexgray/AHLaunchCtl.git
[submodule "Frameworks/CurlHandle"]
	path = Frameworks/CurlHandle
	url = git@github.com:karelia/CurlHandle.git
[submodule "Frameworks/USBDevice"]
	path = Frameworks/USBDevice
	url = git@github.com:mralexgray/USBDeviceFramework.git
	branch = rename
