!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
# *.xcworkspace
# build/*
# Xcode
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.swp
*Breakpoints
*User Data
.DS_Store
.idea/
.ideas/
Archive*
*.framework/
AtoZ.framework
AtoZ/XcodeENV.sh
build
dev
Documentation
Frameworks/CocoatechStrings
Frameworks/Cocotron
git
Notes.txt
profile
xcuserdata
screenshots
AtoZ/build*
dirty
AtoZ/Categories/NSImage+atoZ.tgz
