<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZPrompt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>140</integer>
		</dict>
		<key>AtoZ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>AtoZAgent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>AtoZCLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>139</integer>
		</dict>
		<key>AtoZDocumentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>143</integer>
		</dict>
		<key>AtoZHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>137</integer>
		</dict>
		<key>AtoZPrefs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>134</integer>
		</dict>
		<key>AtoZTestBed∞.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>138</integer>
		</dict>
		<key>AtoZTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>141</integer>
		</dict>
		<key>Build Frameworks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>142</integer>
		</dict>
		<key>ObjectiveCLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>ObjectiveCLITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>WindowPoppers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>WindowPoppersTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B02A2C4172A852E00973A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B04F6FD1815061B00800285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B04F71C1815061D00800285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0DA21817434FCA00535483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0DA29E174352CC00535483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B184EE415FCA98600696360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B311950159B6D9E002134C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B39615815F04FD70065813F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4112E61846FB91009EE3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4113011846FB93009EE3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4A908816F3A6F0003CD058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4F5B6D1760FB5D00BFE73D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B5A71FC178C0A1F00AF9807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B644DB51816B5A00036D205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BDF568B1627695300041A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
