<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZPrompt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>AtoZ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AtoZAgent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AtoZCLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>AtoZDocumentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>AtoZHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>AtoZPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>AtoZPrefs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AtoZTestBed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>AtoZTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>AtoZ_SwiftREPL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Deps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Frameworks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Libs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OCLint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ObjectiveCLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Router.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>StaticFrameworks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WindowPoppers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B02A2C4172A852E00973A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B04F6FD1815061B00800285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B04F71C1815061D00800285</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0DA21817434FCA00535483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0DA29E174352CC00535483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B184EE415FCA98600696360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B311950159B6D9E002134C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B39615815F04FD70065813F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4112E61846FB91009EE3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4113011846FB93009EE3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B469B0519B2192A00C15DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4A908816F3A6F0003CD058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4F5B6D1760FB5D00BFE73D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B5A71FC178C0A1F00AF9807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B644DB51816B5A00036D205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B789D5B1913A677000615B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAAD10419DECE630067607C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAAD10E19DECE640067607C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BCAD9101944BFC1005E6C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BCAD9141944C022005E6C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BCAD93B1944CE95005E6C4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BDF568B1627695300041A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BE62485192C5E87007C3772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
