<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AZLayerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AZPrompt.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>AZUmbrellaTestBed.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>AtoZ Encyclopedia.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>AtoZ Entitlement.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>AtoZ.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>AtoZAggregate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>161</integer>
		</dict>
		<key>AtoZCLI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>AtoZTestBed∞.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>AtoZTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>AtoZUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>BaseModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>159</integer>
		</dict>
		<key>DockBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>StaticLibTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B02A2C4172A852E00973A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0DA21817434FCA00535483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0DA29E174352CC00535483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B184EE415FCA98600696360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B311950159B6D9E002134C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B311968159B6D9E002134C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B31B12515E9441D00802CD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3422B915A5EC03006AC46C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B39615815F04FD70065813F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4A908816F3A6F0003CD058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4FF03A162C668100CC6216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B7852A415ACECD2008BAD3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B82B7E715CB62A10026FE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B82B81E15CB66D30026FE8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA32AA315EACE830061B2BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BB51EA0166D0BDE0051F2FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BBCB9E41671018100681F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BDF568B1627695300041A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BF1EC5A174A1DEE00699D38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BF711D8162C5B5D009E517B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BF72D4F171F8F2E0037CF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
