<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>--docset-feed-url</key>
	<string>http://mrgray.com/docs/%DOCSETATOMFILENAME</string>
	<key>--docset-package-url</key>
	<string>http://mrgray.com/docs/%DOCSETPACKAGEFILENAME</string>
	<key>--publish-docset</key>
	<true/>
	<key>--merge-categories</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--search-undocumented-doc</key>
	<true/>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-intermediate-files</key>
	<true/>
	<key>--ignore</key>
	<array>
		<string>ThirdParty</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Testing</string>
		<string>Resources</string>
	</array>
	<key>--project-company</key>
	<string>mrgray.com</string>
	<key>--company-id</key>
	<string>com.github.mralexgray</string>
	<key>--create-docset</key>
	<true/>
	<key>--install-docset</key>
	<true/>
	<key>--create-html</key>
	<true/>
	<key>--output</key>
	<string>/sd/www/mrgray/docs</string>
	<!-- <string>Documentation</string> -->
	<key>--verbose</key>
	<integer>5</integer>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--project-name</key>
	<string>AtoZ Framework</string>
	<key>--input</key>
	<array>
		<string>../</string>
	</array>
</dict>
</plist>
