<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BUILT_ON</key>
	<string>__TIMESTAMP__</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>AtoZ</string>
	<key>CFBundleGetInfoString</key>
	<string>The all Inclusive cruise of Umbrella-Frameworks.</string>
	<key>CFBundleIconFile</key>
	<string>atoz.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mrgray.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>ATOZ</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 mrgray.com, inc. Do the fuck what you want license.</string>
	<key>NSPrincipalClass</key>
	<string>AtoZ</string>
</dict>
</plist>
