<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>anal</string>
<string>anus</string>
<string>arse</string>
<string>ass</string>
<string>ass-fucker</string>
<string>asses</string>
<string>assfucker</string>
<string>assfukka</string>
<string>asshole</string>
<string>assholes</string>
<string>bitch</string>
<string>ballbag</string>
<string>balls</string>
<string>ballsack</string>
<string>bastard</string>
<string>beastial</string>
<string>beastiality</string>
<string>bellend</string>
<string>bestial</string>
<string>bestiality</string>
<string>biatch</string>
<string>bitcher</string>
<string>bitchers</string>
<string>bitches</string>
<string>bitchin</string>
<string>bitching</string>
<string>bloody</string>
<string>blow job</string>
<string>blowjob</string>
<string>blowjobs</string>
<string>bollock</string>
<string>bollok</string>
<string>boner</string>
<string>boob</string>
<string>boobs</string>
<string>breasts</string>
<string>bugger</string>
<string>bum</string>
<string>butt</string>
<string>butthole</string>
<string>buttmuch</string>
<string>buttplug</string>
<string>carpet muncher</string>
<string>chink</string>
<string>clit</string>
<string>clitoris</string>
<string>clits</string>
<string>cock</string>
<string>cock-sucker</string>
<string>cockface</string>
<string>cockhead</string>
<string>cockmunch</string>
<string>cockmuncher</string>
<string>cocks</string>
<string>cocksuck </string>
<string>cocksucked </string>
<string>cocksucker</string>
<string>cocksucking</string>
<string>cocksucks </string>
<string>cocksuka</string>
<string>cocksukka</string>
<string>cokmuncher</string>
<string>coksucka</string>
<string>coon</string>
<string>crap</string>
<string>cum</string>
<string>cummer</string>
<string>cumming</string>
<string>cums</string>
<string>cumshot</string>
<string>cunnilingus</string>
<string>cunt</string>
<string>cuntlick </string>
<string>cuntlicker </string>
<string>cuntlicking </string>
<string>cunts</string>
<string>cyberfuck </string>
<string>cyberfucked </string>
<string>cyberfucker</string>
<string>cyberfuckers</string>
<string>cyberfucking </string>
<string>damn</string>
<string>dick</string>
<string>dickhead</string>
<string>dildo</string>
<string>dildos</string>
<string>dog-fucker</string>
<string>doggin</string>
<string>dogging</string>
<string>donkeyribber</string>
<string>doosh</string>
<string>duche</string>
<string>dyke</string>
<string>ejaculate</string>
<string>ejaculated</string>
<string>ejaculates </string>
<string>ejaculating </string>
<string>ejaculation</string>
<string>fag</string>
<string>fagging</string>
<string>faggitt</string>
<string>faggot</string>
<string>faggs</string>
<string>fagot</string>
<string>fagots</string>
<string>fags</string>
<string>fanny</string>
<string>fannyflaps</string>
<string>fannyfucker</string>
<string>fatass</string>
<string>felching</string>
<string>fellate</string>
<string>fellatio</string>
<string>fingerfuck </string>
<string>fingerfucked </string>
<string>fingerfucker </string>
<string>fingerfucking </string>
<string>fingerfucks </string>
<string>fistfuck</string>
<string>fistfucked </string>
<string>fistfucker </string>
<string>fistfuckers </string>
<string>fistfucking </string>
<string>fistfuckings </string>
<string>fistfucks </string>
<string>flange</string>
<string>fook</string>
<string>fooker</string>
<string>fuck</string>
<string>fucka</string>
<string>fucked</string>
<string>fucker</string>
<string>fuckers</string>
<string>fuckhead</string>
<string>fuckheads</string>
<string>fuckin</string>
<string>fucking</string>
<string>fuckings</string>
<string>fuckingshitmotherfucker</string>
<string>fuckme </string>
<string>fucks</string>
<string>fuckwhit</string>
<string>fuckwit</string>
<string>fudge packer</string>
<string>fudgepacker</string>
<string>fuk</string>
<string>fuker</string>
<string>fukker</string>
<string>fukkin</string>
<string>fuks</string>
<string>fukwhit</string>
<string>fukwit</string>
<string>fux</string>
<string>fux0r</string>
<string>f_u_c_k</string>
<string>gangbang</string>
<string>gangbanged </string>
<string>gangbangs </string>
<string>gaylord</string>
<string>gaysex</string>
<string>goatse</string>
<string>God</string>
<string>god-dam</string>
<string>god-damned</string>
<string>goddamn</string>
<string>goddamned</string>
<string>hardcoresex </string>
<string>hell</string>
<string>heshe</string>
<string>hoar</string>
<string>hoare</string>
<string>hoer</string>
<string>homo</string>
<string>hore</string>
<string>horniest</string>
<string>horny</string>
<string>hotsex</string>
<string>jack-off </string>
<string>jackoff</string>
<string>jap</string>
<string>jerk-off </string>
<string>jism</string>
<string>jiz </string>
<string>jizm </string>
<string>jizz</string>
<string>kawk</string>
<string>knob</string>
<string>knobead</string>
<string>knobed</string>
<string>knobend</string>
<string>knobhead</string>
<string>knobjocky</string>
<string>knobjokey</string>
<string>kock</string>
<string>kondum</string>
<string>kondums</string>
<string>kum</string>
<string>kummer</string>
<string>kumming</string>
<string>kums</string>
<string>kunilingus</string>
<string>l3i+ch</string>
<string>l3itch</string>
<string>labia</string>
<string>lmfao</string>
<string>lust</string>
<string>lusting</string>
<string>m0f0</string>
<string>m0fo</string>
<string>m45terbate</string>
<string>ma5terb8</string>
<string>ma5terbate</string>
<string>masochist</string>
<string>master-bate</string>
<string>masterb8</string>
<string>masterbat*</string>
<string>masterbat3</string>
<string>masterbate</string>
<string>masterbation</string>
<string>masterbations</string>
<string>masturbate</string>
<string>mo-fo</string>
<string>mof0</string>
<string>mofo</string>
<string>mothafuck</string>
<string>mothafucka</string>
<string>mothafuckas</string>
<string>mothafuckaz</string>
<string>mothafucked </string>
<string>mothafucker</string>
<string>mothafuckers</string>
<string>mothafuckin</string>
<string>mothafucking </string>
<string>mothafuckings</string>
<string>mothafucks</string>
<string>mother fucker</string>
<string>motherfuck</string>
<string>motherfucked</string>
<string>motherfucker</string>
<string>motherfuckers</string>
<string>motherfuckin</string>
<string>motherfucking</string>
<string>motherfuckings</string>
<string>motherfuckka</string>
<string>motherfucks</string>
<string>muff</string>
<string>mutha</string>
<string>muthafecker</string>
<string>muthafuckker</string>
<string>muther</string>
<string>mutherfucker</string>
<string>n1gga</string>
<string>n1gger</string>
<string>nazi</string>
<string>nigg3r</string>
<string>nigg4h</string>
<string>nigga</string>
<string>niggah</string>
<string>niggas</string>
<string>niggaz</string>
<string>nigger</string>
<string>niggers </string>
<string>nob</string>
<string>nob jokey</string>
<string>nobhead</string>
<string>nobjocky</string>
<string>nobjokey</string>
<string>numbnuts</string>
<string>nutsack</string>
<string>orgasim </string>
<string>orgasims </string>
<string>orgasm</string>
<string>orgasms </string>
<string>p0rn</string>
<string>pawn</string>
<string>pecker</string>
<string>penis</string>
<string>penisfucker</string>
<string>phonesex</string>
<string>phuck</string>
<string>phuk</string>
<string>phuked</string>
<string>phuking</string>
<string>phukked</string>
<string>phukking</string>
<string>phuks</string>
<string>phuq</string>
<string>pigfucker</string>
<string>pimpis</string>
<string>piss</string>
<string>pissed</string>
<string>pisser</string>
<string>pissers</string>
<string>pisses </string>
<string>pissflaps</string>
<string>pissin </string>
<string>pissing</string>
<string>pissoff </string>
<string>poop</string>
<string>porn</string>
<string>porno</string>
<string>pornography</string>
<string>pornos</string>
<string>prick</string>
<string>pricks </string>
<string>pron</string>
<string>pube</string>
<string>pusse</string>
<string>pussi</string>
<string>pussies</string>
<string>pussy</string>
<string>pussys </string>
<string>rectum</string>
<string>retard</string>
<string>rimjaw</string>
<string>rimming</string>
<string>s hit</string>
<string>s.o.b.</string>
<string>sadist</string>
<string>schlong</string>
<string>screwing</string>
<string>scroat</string>
<string>scrote</string>
<string>scrotum</string>
<string>semen</string>
<string>sex</string>
<string>sh!+</string>
<string>sh!t</string>
<string>sh1t</string>
<string>shag</string>
<string>shagger</string>
<string>shaggin</string>
<string>shagging</string>
<string>shemale</string>
<string>shi+</string>
<string>shit</string>
<string>shitdick</string>
<string>shite</string>
<string>shited</string>
<string>shitey</string>
<string>shitfuck</string>
<string>shitfull</string>
<string>shithead</string>
<string>shiting</string>
<string>shitings</string>
<string>shits</string>
<string>shitted</string>
<string>shitter</string>
<string>shitters </string>
<string>shitting</string>
<string>shittings</string>
<string>shitty </string>
<string>skank</string>
<string>slut</string>
<string>sluts</string>
<string>smegma</string>
<string>smut</string>
<string>snatch</string>
<string>son-of-a-bitch</string>
<string>spac</string>
<string>spunk</string>
<string>s_h_i_t</string>
<string>t1tt1e5</string>
<string>t1tties</string>
<string>teets</string>
<string>teez</string>
<string>testical</string>
<string>testicle</string>
<string>tit</string>
<string>titfuck</string>
<string>tits</string>
<string>titt</string>
<string>tittie5</string>
<string>tittiefucker</string>
<string>titties</string>
<string>tittyfuck</string>
<string>tittywank</string>
<string>titwank</string>
<string>tosser</string>
<string>turd</string>
<string>tw4t</string>
<string>twat</string>
<string>twathead</string>
<string>twatty</string>
<string>twunt</string>
<string>twunter</string>
<string>v14gra</string>
<string>v1gra</string>
<string>vagina</string>
<string>viagra</string>
<string>vulva</string>
<string>w00se</string>
<string>wang</string>
<string>wank</string>
<string>wanker</string>
<string>wanky</string>
<string>whoar</string>
<string>whore</string>
<string>willies</string>
<string>willy</string>
<string>xrated</string>
</array>
</plist>
