<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>When do I look at the camera?</string>
	<string>When do I look?</string>
	<string>&lt;gasp&gt; Hi, what a surprise that you're here.</string>
	<string>Welcome, my bathroom.</string>
	<string>My fingers are fused together.</string>
	<string>My thumb was broken in an acting accident.</string>
	<string>I can't wait to show you more of my face.</string>
	<string>Look at my face.</string>
	<string>There's my face, there's my face!</string>
	<string>That's not my body, but this is my, FACE.</string>
	<string>Here are four looks.</string>
	<string>I have four different emotions - they may seem the same (oh there's my high school grad picture, and my picture from Woolworth's!).</string>
	<string>I like to stare blankly into space.</string>
	<string>That's something I do.</string>
	<string>When I was 10 years old - I wore this dress; I just keep getting it altered.</string>
	<string>See, I still fit into my 10-year-old clothing.</string>
	<string>Look at that!</string>
	<string>Oh, is that me on the wall?</string>
	<string>I drew it myself - with chalk!</string>
	<string>I can't move, but boy, can I ever pose!</string>
	<string>I wish there was a close up on my face - there it is!</string>
	<string>Wow, looking better and better all the time.</string>
	<string>That's a - beret - it's from Europe.</string>
	<string>I really shouldn't be doing this; but I'm going to have an ad for IKEA right now.</string>
	<string>This is a complete IKEA closet.</string>
	<string>The bed is underneath my pants.</string>
	<string>If you have a look - you can see that everything fits - into this particle board.</string>
	<string>You just paint it white, pull it out, oh gold and silver (those are my two signature colors)!</string>
	<string>What are legs good for?</string>
	<string>They're not good for pants - they're good for sitting!</string>
	<string>It's after Labor Day and I am wearing white.</string>
	<string>This is a very comfortable pose.</string>
	<string>This is how all the models do it.</string>
	<string>This is called boobies.</string>
	<string>And this is another picture of my FACE.</string>
	<string>I liked putting Vaseline on the lens; it erases all lines that one may have on their face.</string>
	<string>It's a fashion face; a face full of fashion.</string>
	<string>I eat so much fowl - I shit feathers!</string>
	<string>It's winter - so I wear pantyhose with my open-toed sandals.</string>
	<string>I hope I never get arrested for not leaving a premises which is no longer mine!</string>
	<string>I still I look like a teenager, don't I?</string>
	<string>Well, thankfully my herpes is in remission, right now - Look, no blisters, not one - Just a cold sore (Oh, that's herpes, Oh, It's back).</string>
	<string>I like to fill my breasts with photos of myself; one's bigger than the other, because my hair is - greater on one side.</string>
	<string>This is live video footage of me.</string>
	<string>I don't blink; that's a huge part of fashion.</string>
	<string>Breathe in my eye - just some air, nothing.</string>
	<string>I do not blink.</string>
	<string>Not at all.</string>
	<string>Good for me!</string>
	<string>Here's what happens when I go down on my knees.</string>
	<string>I'm bending down right now, and I'm on my knees.</string>
	<string>There, I'm on my knees right now.</string>
	<string>I can really stay on my knees a very long time - huge part of fashion.</string>
	<string>The look this season is clothes that don't fit correctly.</string>
	<string>These pants are way too tight, not my size.</string>
	<string>This top is completely not my size.</string>
	<string>Isn't it fashion?!</string>
	<string>This top doesn't fit at all &lt;&lt;awkward chuckle&gt;&gt;		These boots don't fit.</string>
	<string>I wonder if belts fit?</string>
	<string>No, the belt does not fit either.</string>
	<string>&lt;&lt;sigh&gt;&gt;		Oh, these boots fit, but the purse is the wrong size (I got this from Pic-N-Save)  I'll tell you, their Halloween collection - not a lot to be desired &lt;&lt;creepy sigh&gt;&gt;.</string>
	<string>This is an oversized top.</string>
	<string>These are my breasts.</string>
	<string>I have two of them.</string>
	<string>I even 'out' my breasts on my own; it's still the same Wol-Co.</string>
	<string>photo from earlier.</string>
	<string>I just cropped it to make it larger; oh I cropped it again (I'm really, really good with scissors).</string>
	<string>I'll tell you that much.</string>
	<string>Here's what I wear too bed.</string>
	<string>It's, it's like a trap - a spider trap.</string>
	<string>I get them into my bu'drow; and then I - I eat their head off.</string>
	<string>They're absolutely delicious!</string>
	<string>I always wanted to be on dynasty...</string>
	<string>but here's two things: and nipple and a tertiary nipple.</string>
	<string>I have two nipples.</string>
	<string>Uh, My tummy does not have any support right now - that's just me.</string>
	<string>And white shoes - It's before - and after Labor Day.</string>
	<string>I wanted to show you this necklace.</string>
	<string>I'm wearing a gold necklace - umm, with diamonds - I wear it every single shot - every single one.</string>
	<string>Watch this - Prest-o Change-o!</string>
	<string>Let's go up a little bit - Let me get on my knees - I'm going down.</string>
	<string>Look what's there!</string>
	<string>It's a heart diamond necklace!</string>
	<string>If you see on my left- umm right-hand side; that's My kitty cat - I named it Chester..</string>
	<string>and I..</string>
	<string>he was absolutely delicious.</string>
	<string>And and I'm also part of a Chipapean tribe.</string>
	<string>I thought I looked very native - North American - in this.</string>
	<string>Uh, I like to bring out my culture, my taste (oh, uh, when you open your legs, ladies - watch the Seaguls; sometimes they come a-flock and - they're your friends, too!)  I, could, make a hat out of most of them.</string>
	<string>Let's open the microwave and see what I've made.</string>
	<string>Enjoy some popcorn - absolutely yumms.</string>
	<string>Yes, I do eat solid foods.</string>
	<string>But I have four microwaves stacked on top of each other for when company comes over.</string>
	<string>My door is always welcome to you.</string>
	<string>For Halloween I'm going to dress up as - a Hooker - won't that be fun!?</string>
	<string>Look at all the choices that I have!</string>
	<string>Oh, the kids just love it, ABCDEF,GHIJKL,M,N,OPQRS, oh what's next, I can't remember what's next, UVWX,Y,Z!</string>
	<string>I wish I was Jacqueline Smith - but I'm not - so here's my face double.</string>
	<string>Okay - I like to put makeup over my makeup..</string>
	<string>and then tattoo my makeup on.</string>
	<string>I got it from Pic-N-Save.</string>
	<string>I'm already tattooed, but you can never have enough, you know, can you?</string>
	<string>awkakwaka.		My schedule is free so I'm available for donkey shows - for grand openings - for sales (I'm good at telemarketing - and flourishes - watch the hand).</string>
	<string>So - you know, for Halloween this is how we're going to look.</string>
	<string>Some people use it as a daily look.</string>
	<string>It's Halloween everday in my house - every single day!Welcome, Sorry I'm late, I gave myself a camel toe - and not the Dorothy Hamill kind.</string>
</array>
</plist>
