<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>atoz.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>AtoZ</string>
	<key>CFBundleURLName</key>
	<string>AtoZ</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>AtoZ Control Panel</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>atozprefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>AtoZ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>atoz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSIsAppleDefaultForScheme</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 AlexGray All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>AtoZPrefs</string>
	<key>NSPrefPaneIconFile</key>
	<string>atoz.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>AtoZ</string>
	<key>NSPrincipalClass</key>
	<string>AtoZPrefs</string>
</dict>
</plist>
